body {
    font: 14px "Century Gothic", Futura, sans-serif;
    margin: 20px;
    height: 100%;
}

.square {
    background: #fff;
    border: 1px solid #999;
    float: left;
    font-size: 34px;
    font-weight: bold;
    line-height: 34px;
    height: 85px;
    margin-right: -1px;
    margin-top: -1px;
    padding: 0;
    text-align: center;
    width: 85px;
}
  
  .square:focus {
    outline: none;
  }

  .square:hover {
    background: rgba(102, 92, 107, 0.055);
    border: 1px solid rgb(34, 31, 31);
  }

  .game {
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: relative;
    margin-top: 20%;
  }